.noti-progress .noti-color {
  position: absolute;
  top: 0.2px;
  left: 0;
  background-color: var(--primary-color);
  width: 0px;
  height: 0.5vh;
  animation: noti-progress 3s infinite linear;
}
@keyframes noti-progress {
  0% {
    width: 0%;
  }
  25% {
    width: 15%;
  }
  50% {
    width: 60%;
  }
  60% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 100%;
  }
}
