@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Import Tailwind Components */
@import url("./styles/button.css");
@import url("./styles/heading.css");
@import url("./styles/input.css");
@import url("./styles/notification_bar.css");
@import url("./styles/scrolling_bar.css");
/* -------------------------- */

/*      Color Variables       */
:root {
  --primary-color: #334b2f;
  --primary-text: #42693b;
  --primary-background: #19191b;
}
/* -------------------------- */
